body{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
nav ul{
    display: flex;
    align-items: center;
}
.onu{
    font-size: 45px;
    font-weight: 800;
    color: #181818;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    color: white;
    border: 0;
    padding: 15px 35px;
}
.header{
    background-color: #FFF8F3;
    background-image: url(portfolio-resources-main/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    align-items: center;
    display: flex;
    padding: 30px 30px 0px 200px;
    justify-content: space-between;
}
.banner .profile-pic{
    width: 500px;
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-content{
    max-width: 500px;
}
.about{
    padding: 130px;
    margin: 130px 0;
    background-color: #FFF8F3;
    border-radius: 10px;
}
.about-title{
    font-size: 65px;
    font-weight: 700;
    text-align: center;
    color: #181818;
}
.about-description{
    font-size: 18px;
    text-align: center;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}